name: CI
permissions:
  contents: read

on:
  pull_request:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"

      - run: yarn install --immutable
      - run: yarn lint
      - run: yarn typecheck
      - run: yarn test:ci
      - run: yarn build
      - run: yarn verify-types
      - run: yarn lint:package
