name: publish-npm
permissions:
  contents: read
  id-token: write # needed for Trusted Publishing

on:
  push:
    branches:
      - main

jobs:
  publish:
    name: Publish to NPM Package Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: main
          persist-credentials: false
      # limit releases to version changes - https://github.com/EndBug/version-check
      - name: Check version changes
        uses: EndBug/version-check@5102328418c0130d66ca712d755c303e93368ce2 # v2.1.7
        id: version_check
        with:
          # diff the commits rather than commit message for version changes
          diff-search: true

      - name: Version update detected
        env:
          OUTPUT_VERSION: ${{ steps.version_check.outputs.version }}
          OUTPUT_TYPE: ${{ steps.version_check.outputs.type }}
        if: steps.version_check.outputs.changed == 'true'
        run: 'echo "Version change found! New version: ${OUTPUT_VERSION} (${OUTPUT_TYPE})"'

      - name: Setup .npmrc file for NPM registry
        if: steps.version_check.outputs.changed == 'true'
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          scope: '@grafana'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        if: steps.version_check.outputs.changed == 'true'
        run: yarn install --immutable

      - name: Build library
        if: steps.version_check.outputs.changed == 'true'
        run: yarn build

      - name: Publish package to NPM
        if: steps.version_check.outputs.changed == 'true'
        run: npm publish --access public
